<!DOCTYPE html>
<html>
<head>
    @{var rights = Session["Rights"] as KhalidPetroleum.Models.Role;
    var user = Session["User"] as KhalidPetroleum.Models.User;}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Vehicle Management System</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/images/khalid.jpg" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- JQuery DataTable Css -->
    <link href="~/Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Waves Effect Css -->
    <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Sweetalert Css -->
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/plugins/light-gallery/css/lightgallery.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/Css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Css/themes/all-themes.css" rel="stylesheet" />
    <!-- JQuery DatePicker -->
    <link rel="stylesheet" href="~/Content/plugins/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/Css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <style>
        table, th, td {
            border: 0.5px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }

        .gr{
            background-color:green;
            color:white
        }

        .rd {
            background-color: red;
            color:white
        }
    </style>
</head>
<body class="theme-blue">
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand">Khalid Group of Petroleum | Sale/Purchase Report</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Menu</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="/Main/SignIn">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">input</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Logout</h4>
                                                <p>
                                                    Exit the system
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/images/khalid.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Farukh Khalid</div>
                    <div class="email">info@khalidgroup.com.pk</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="/Main/Index">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li @(rights.isMNVehicles ? string.Empty : "style=display:none")>
                        <a href="/Main/Vehicles">
                            <i class="material-icons">directions_car</i>
                            <span>Vehicles</span>
                        </a>
                    </li>
                    <li @(rights.isMNStaff ? string.Empty : "style=display:none")>
                        <a href="/Main/Staff">
                            <i class="material-icons">person</i>
                            <span>Staff</span>
                        </a>
                    </li>

                    <li @((bool)rights.isMNQuestions ? string.Empty : "style=display:none")>
                        <a href="/Main/Questions"><i class="material-icons">view_list</i><span>Questions</span></a></li>
                    <li @((bool)rights.isMNGroups ? string.Empty : "style=display:none")>
                        <a href="/Main/Groups">
                            <i class="material-icons">group</i>
                            <span>Groups</span>
                        </a>
                    </li>
                    <li @(rights.isMNDeliverySites ? string.Empty : "style=display:none")>
                        <a href="/Main/DSites">
                            <i class="material-icons">ev_station</i>
                            <span>Delivery Sites</span>
                        </a>
                    </li>

                    <li @((user.UserID == 3) ? string.Empty : "style=display:none")>
                        <a href="/Main/Roles">
                            <i class="material-icons">supervisor_account</i>
                            <span>Roles</span>
                        </a>
                    </li>
                    <li class="active" @((bool)rights.MStats ? string.Empty : "style=display:none")>
                        <a href="/Admin/Index">
                            <i class="material-icons">assessment</i>
                            <span>Stats</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Report</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                SEARCH
                            </h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="datePicker">From</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="date" id="txtFromDate" class="datepicker form-control" placeholder="Please choose a date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="vehicleNo">To</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="date" id="txtToDate" class="form-control" placeholder="Please choose a date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="captainName"></label>
                                        <div class="form-group">
                                            <div class="button-demo js-modal-buttons">
                                                <button type="button" class="btn bg-light-blue waves-effect" onclick="getDailyReports()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                DETAILS
                            </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="reportTable" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Sr#</th>
                                            <th>Date</th>
                                            <th>Vehicle-No</th>
                                            <th>DriverName</th>
                                            <th>DepotCode</th>
                                            <th>DepotName</th>
                                            <th>Actions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Sr#</th>
                                            <th>Date</th>
                                            <th>Vehicle-No</th>
                                            <th>DriverName</th>
                                            <th>DepotCode</th>
                                            <th>DepotName</th>
                                            <th>Actions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="reportTable"></tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="galleryModal" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>
                                            GALLERY
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </a>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Modal Start-->
            <div class="modal"  id="mdModal" tabindex="-1" >
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table" align="center" border="1">
                                            <tr>
                                                <th class="col-lg-6" colspan="4"><h4>Purchase</h4></th>
                                                <th class="col-lg-6" colspan="3"><h4>Sale</h4></th>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-6" colspan="4"><h5>Depot Detail</h5></th>
                                                <th class="col-lg-2" colspan="1"><h5>DeliveryNo</h5></th>
                                                <th class="col-lg-2" colspan="1"><h5>Quantity</h5></th>
                                                <th class="col-lg-2" colspan="1"><h5>UnloadSite</h5></th>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="2"><b>Code</b></td>
                                                <td id="depotCode" class="col-lg-4" colspan="2"></td>
                                                <td id="dno_0" class="col-lg-2" colspan="1"></td>
                                                <td id="qty_0" class="col-lg-2" colspan="1"></td>
                                                <td id="site_0" class="col-lg-2" colspan="1"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="2"><b>Name</b></td>
                                                <td id="depotName" class="col-lg-4" colspan="2"></td>
                                                <td id="dno_1" class="col-lg-2" colspan="1"></td>
                                                <td id="qty_1" class="col-lg-2" colspan="1"></td>
                                                <td id="site_1" class="col-lg-2" colspan="1"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="2"><b>Total Quantity</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Sup</b></td>
                                                <td class="col-lg-2" colspan="1"><b>HSD</b></td>
                                                <td id="dno_2" class="col-lg-2" colspan="1"></td>
                                                <td id="qty_2" class="col-lg-2" colspan="1"></td>
                                                <td id="site_2" class="col-lg-2" colspan="1"></td>
                                            </tr>
                                            <tr>
                                                <td id="totalQty" class="col-lg-2" colspan="2"></td>
                                                <td id="purchasedSUP" class="col-lg-2"></td>
                                                <td id="purchasedHSD" class="col-lg-2"></td>
                                                <td id="dno_3" class="col-lg-2"></td>
                                                <td id="qty_3" class="col-lg-2"></td>
                                                <td id="site_3" class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-8" colspan="5"><h5>Difference</h5></th>
                                                <th class="col-lg-1" colspan="1"><h5>Paid</h5></th>
                                                <th class="col-lg-1" colspan="1"><h5>Received</h5></th>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-1"><b></b></td>
                                                <td class="col-lg-1"><b>Pump</b></td>
                                                <td class="col-lg-2"><b>MachiKey</b></td>
                                                <td class="col-lg-2"><b>Rate</b></td>
                                                <td class="col-lg-2"><b>Quantity</b></td>
                                                <td class="col-lg-2"></td>
                                                <td class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-1"><b>Sup</b></td>
                                                <td id="check_pump_sup" class="col-lg-1"></td>
                                                <td id="check_machi_sup" class="col-lg-2"></td>
                                                <td id="SUPDifferenceRate" class="col-lg-2"></td>
                                                <td id="SUPDifferenceQuantity" class="col-lg-2"></td>
                                                <td class="col-lg-2"></td>
                                                <td id="sup_diff_recieved" class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-1"><b>Hsd</b></td>
                                                <td id="check_pump_hsd" class="col-lg-1"></td>
                                                <td id="check_machi_hsd" class="col-lg-2"></td>
                                                <td id="HSDDifferenceRate" class="col-lg-2"></td>
                                                <td id="HSDDifferenceQuantity" class="col-lg-2"></td>
                                                <td class="col-lg-2"></td>
                                                <td id="hsd_diff_recieved" class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-1"><b>Tool Exp</b></td>
                                                <td class="col-lg-1"><b>Munchi</b></td>
                                                <td class="col-lg-2"><b>Parking Exp</b></td>
                                                <td class="col-lg-1"><b>Meals</b></td>
                                                <td class="col-lg-1"><b>Others</b></td>
                                                <td class="col-lg-2"></td>
                                                <td class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <td id="tool" class="col-lg-1"></td>
                                                <td id="munshi" class="col-lg-1"></td>
                                                <td id="parking" class="col-lg-2"></td>
                                                <td id="meal" class="col-lg-2"></td>
                                                <td id="other" class="col-lg-2"></td>
                                                <td id="expense_paid" class="col-lg-2"></td>
                                                <td class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="3"><b>Fuel</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Rate</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Quantity</b></td>
                                                <td class="col-lg-2" colspan="1"></td>
                                                <td class="col-lg-2" colspan="1"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="3">Hsd</td>
                                                <td id="FilledFuelRate" class="col-lg-2" colspan="1"></td>
                                                <td id="FilledFuelQuantity" class="col-lg-2" colspan="1"></td>
                                                <td id="expense_fuel" class="col-lg-2" colspan="1"></td>
                                                <td class="col-lg-2" colspan="1"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="3">Lube</td>
                                                <td class="col-lg-2" colspan="1"></td>
                                                <td class="col-lg-2" colspan="1"></td>
                                                <td class="col-lg-2" colspan="1"></td>
                                                <td class="col-lg-2" colspan="1"></td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-2" colspan="2"><b>Opening Meter</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Closing Meter</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Kilometers</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Average</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Loss</b></td>
                                                <td class="col-lg-2" colspan="1"><b>Gain</b></td>
                                            </tr>
                                            <tr>
                                                <td id="OpeningMeter" class="col-lg-2" colspan="2"></td>
                                                <td id="ClosingMeter" class="col-lg-2" colspan="1"></td>
                                                <td id="total_kms" class="col-lg-2" colspan="1"></td>
                                                <td id="avg" class="col-lg-2" colspan="1"></td>
                                                <td id="total_loss" class="col-lg-2 rd" colspan="1"><b></b></td>
                                                <td id="total_gain" class="col-lg-2 gr" colspan="1"><b></b></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal End-->
        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/Content/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/plugins/node-waves/waves.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="~/Content/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Light Gallery Plugin Js -->
    <script src="~/Content/plugins/light-gallery/js/lightgallery-all.js"></script>
    <!-- Custom Js -->
    <script src="~/Scripts/js/admin.js"></script>
    <script src="~/Scripts/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/Scripts/js/pages/ui/dialogs.js"></script>
    <script src="~/Scripts/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/dailyreport.js"></script>
    <!-- Demo Js -->
    <script src="~/Scripts/js/demo.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/Content/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

</body>
</html>
