<!DOCTYPE html>
<html>

<head>
    @{var rights = Session["Rights"] as KhalidPetroleum.Models.Role;
    var user = Session["User"] as KhalidPetroleum.Models.User;}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Vehicle Management System</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/images/khalid.jpg" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-blue">
    <!-- Page Loader -->
    @*<div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>*@
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/Main/Index">Khalid Group of Petroleum | Home</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Menu</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="/Main/SignIn">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">input</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Logout</h4>
                                                <p>Exit the system</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);"></a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/images/khalid.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Farukh Khalid</div>
                    <div class="email">info@khalidgroup.com.pk</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="/Main/Index">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li @(rights.isMNVehicles ? string.Empty : "style=display:none")>
                        <a href="/Main/Vehicles">
                            <i class="material-icons">directions_car</i>
                            <span>Vehicles</span>
                        </a>
                    </li>
                    <li @(rights.isMNStaff ? string.Empty : "style=display:none")>
                        <a href="/Main/Staff">
                            <i class="material-icons">person</i>
                            <span>Staff</span>
                        </a>
                    </li>

                    <li @((bool)rights.isMNQuestions ? string.Empty : "style=display:none")>
                        <a href="/Main/Questions"><i class="material-icons">view_list</i><span>Questions</span></a></li>
                    <li @((bool)rights.isMNGroups ? string.Empty : "style=display:none")>
                        <a href="/Main/Groups">
                            <i class="material-icons">group</i>
                            <span>Groups</span>
                        </a>
                    </li>
                    <li @(rights.isMNDeliverySites ? string.Empty : "style=display:none")>
                        <a href="/Main/DSites">
                            <i class="material-icons">ev_station</i>
                            <span>Delivery Sites</span>
                        </a>
                    </li>

                    <li @((user.UserID == 3) ? string.Empty : "style=display:none")>
                        <a href="/Main/Roles">
                            <i class="material-icons">supervisor_account</i>
                            <span>Roles</span>
                        </a>
                    </li>
                    <li class="active" @((bool)rights.MStats ? string.Empty : "style=display:none")>
                        <a href="/Admin/Index">
                            <i class="material-icons">assessment</i>
                            <span>Stats</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>HOME</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" @((bool)rights.SRent ? string.Empty : "style=display:none")>
                    <a style="text-decoration:none" href="/Admin/Rents">
                        <div class="info-box bg-teal hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">commute</i>
                            </div>
                            <div class="content">
                                <div class="text"><h3>Rented Vehicles</h3></div>
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" @((bool)rights.SDailyReport ? string.Empty : "style=display:none")>
                    <a style="text-decoration:none" href="/Admin/DailyReport">
                        <div class="info-box bg-deep-purple hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">equalizer</i>
                            </div>
                            <div class="content">
                                <div class="text"><h3>Sale/Purchase Report</h3></div>
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" @((bool)rights.SChecklistReport ? string.Empty : "style=display:none")>
                    <a style="text-decoration:none" href="/Admin/ChecklistReport">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">playlist_add_check</i>
                            </div>
                            <div class="content">
                                <div class="text"><h3>Checklist Report</h3></div>
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" @((bool)rights.SVerification ? string.Empty : "style=display:none")>
                    <a style="text-decoration:none" href="/Admin/Verification">
                        <div class="info-box bg-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">playlist_add_check</i>
                            </div>
                            <div class="content">
                                <div class="text"><h3>Verfication</h3></div>
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="~/Scripts/js/demo.js"></script>
</body>

</html>