<!DOCTYPE html>
<html>
<head>
    @{var rights = Session["Rights"] as KhalidPetroleum.Models.Role;
      var user = Session["User"] as KhalidPetroleum.Models.User;}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Vehicle Management System</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/images/khalid.jpg" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- JQuery DataTable Css -->
    <link href="~/Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Waves Effect Css -->
    <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Css/themes/all-themes.css" rel="stylesheet" />
    <!-- JQuery DatePicker -->
    <link rel="stylesheet" href="~Content/plugins/jquery-ui/jquery-ui.css">

</head>
<body class="theme-blue">
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand">Khalid Group of Petroleum | Daily Expenses</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Menu</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="/Main/SignIn">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">input</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Logout</h4>
                                                <p>
                                                    Exit the system
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/images/khalid.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Session["Username"]</div>
                    <div class="email">Khalid group</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="/Main/Index">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li @(rights.isMNVehicles ? string.Empty : "style=display:none")>
                        <a href="/Main/Vehicles">
                            <i class="material-icons">directions_car</i>
                            <span>Vehicles</span>
                        </a>
                    </li>
                    <li @(rights.isMNStaff ? string.Empty : "style=display:none")>
                        <a href="/Main/Staff">
                            <i class="material-icons">person</i>
                            <span>Staff</span>
                        </a>
                    </li>

                    <li @(rights.isMNDeliverySites ? string.Empty : "style=display:none")>
                        <a href="/Main/DSites">
                            <i class="material-icons">ev_station</i>
                            <span>Delivery Sites</span>
                        </a>
                    </li>

                    <li @((user.UserID == 3) ? string.Empty : "style=display:none")>
                        <a href="/Main/Roles">
                            <i class="material-icons">supervisor_account</i>
                            <span>Roles</span>
                        </a>
                    </li>
                    <li @((bool)rights.MStats ? string.Empty : "style=display:none")>
                        <a href="/Admin/Index">
                            <i class="material-icons">assessment</i>
                            <span>Stats</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>EXPENSES</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                DETAILS
                            </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="checklistsTable" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>VehicleNo</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>17/01/2019</td>
                                            <td>LES-888</td>
                                            <td>On Approval</td>
                                        </tr>
                                        <tr>
                                            <td>15/01/2019</td>
                                            <td>CHS-1578</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td>14/01/2019</td>
                                            <td>LES-8888</td>
                                            <td>Approved</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal Start-->
            <div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label id="modalVNO">TASK</label>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr.</th>
                                                <th>Name</th>
                                                <th>Approval</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Oil change</td>
                                                <td style="color:green">Approved</td>
                                                <td>
                                                    <select>
                                                        <option>In Progress</option>
                                                        <option>Completed</option>
                                                    </select>
                                                </td>
                                                <td><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Remarks</button></td>
                                            </tr>
                                            <tr id="demo" class="collapse" style="padding-left:50px; padding-right:50px">
                                                <td colspan="5">
                                                    <label>OPM : Kindly approve this one is urgent.</label>
                                                    <textarea rows="3" class="form-control no-resize" placeholder="Enter any remark..."></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Oil change is inevitable. Change can't be avoided. I'm letting you know. Simle and wave boys. Smile and wave</td>
                                                <td style="color:red">Not Approved</td>
                                                <td>
                                                    <select disabled>
                                                        <option>On Approval</option>
                                                        <option>Approved</option>
                                                        <option>In Progress</option>
                                                        <option>Completed</option>
                                                    </select>
                                                </td>
                                                <td><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Remarks</button></td>
                                            </tr>
                                            <tr id="demo1" class="collapse">
                                                <td colspan="5">
                                                    <label>Admin : This was done in last approval. No need</label>
                                                    <textarea rows="3" class="form-control no-resize" placeholder="Enter any remark..."></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="modalBtn" type="button" class="btn btn-link waves-effect" onclick="" value="SAVE">SUBMIT</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal End-->

            <!--Modal Start-->

            <div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content modal-col-light-blue">
                        <div class="modal-header">
                            <h3 class="modal-title" id="defaultModalLabel">ADD NEW EXPENSE</h3>
                        </div>
                        <div class="modal-body">
                            <div id="alertdiv" class="row">
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="depotCode">Date</label>
                                            <input type="text" id="txtNewDepotCode" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="depotName">Purpose</label>
                                            <input type="text" id="txtNewDepotName" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="depotName">Amount</label>
                                            <input type="number" id="txtNewDepotName" class="form-control" placeholder="">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal End-->

        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/Content/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/plugins/node-waves/waves.js"></script>
    <!-- Custom Js -->
    <script src="~/Scripts/js/admin.js"></script>
    <!-- Demo Js -->
    <script src="~/Scripts/js/demo.js"></script>
    <script src="~/Scripts/maintenance.js"></script>
<!-- Moment Plugin Js -->
    <script src="~/Content/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- JQuery Datetime Picker -->
    <script src="~Content/plugins/jquery-1.12.4/jquery-1.12.4.js"></script>
    <script src="~Content/plugins/jquery-ui/jquery-ui.js"></script>
    <script>$(function() {
            $("#datepicker").datepicker();
});</script>


</body>
</html>
