<!DOCTYPE html>
<html>
<head>
    @{var rights = Session["Rights"] as KhalidPetroleum.Models.Role;
      var user = Session["User"] as KhalidPetroleum.Models.User;}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Vehicle Management System</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/images/khalid.jpg" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- JQuery DataTable Css -->
    <link href="~/Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Waves Effect Css -->
    <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Css/themes/all-themes.css" rel="stylesheet" />
    <style>
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 175px;
            right: 175px;
        }

            .loading:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.2);
            }

        .loading-gif {
        }
    </style>

</head>
<body class="theme-blue">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <div class="loading" style="display: none">
        <img src="../../Content/images/loading.gif" />
    </div>
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand">Khalid Group of Petroleum | Task Management</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Menu</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="/Main/SignIn">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">input</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Logout</h4>
                                                <p>
                                                    Exit the system
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/Content/images/khalid.jpg" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Session["Username"]</div>
                    <div class="email">Khalid group</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="/Main/Index">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li @(rights.isMNVehicles ? string.Empty : "style=display:none")>
                        <a href="/Main/Vehicles">
                            <i class="material-icons">directions_car</i>
                            <span>Vehicles</span>
                        </a>
                    </li>
                    <li @(rights.isMNStaff ? string.Empty : "style=display:none")>
                        <a href="/Main/Staff">
                            <i class="material-icons">person</i>
                            <span>Staff</span>
                        </a>
                    </li>

                    <li @((bool)rights.isMNQuestions ? string.Empty : "style=display:none")>
                        <a href="/Main/Questions"><i class="material-icons">view_list</i><span>Questions</span></a></li>
                    <li @((bool)rights.isMNGroups ? string.Empty : "style=display:none")>
                        <a href="/Main/Groups">
                            <i class="material-icons">group</i>
                            <span>Groups</span>
                        </a>
                    </li>
                    <li @(rights.isMNDeliverySites ? string.Empty : "style=display:none")>
                        <a href="/Main/DSites">
                            <i class="material-icons">ev_station</i>
                            <span>Delivery Sites</span>
                        </a>
                    </li>

                    <li @((user.UserID == 3) ? string.Empty : "style=display:none")>
                        <a href="/Main/Roles">
                            <i class="material-icons">supervisor_account</i>
                            <span>Roles</span>
                        </a>
                    </li>
                    <li @((bool)rights.MStats ? string.Empty : "style=display:none")>
                        <a href="/Admin/Index">
                            <i class="material-icons">assessment</i>
                            <span>Stats</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>TASK MANAGEMENT</h2>
            </div>
            @*<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                TASKS DETAILS
                            </h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="datePicker">From</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="datepicker" class="form-control" placeholder="Please choose a date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="vehicleNo">To</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id=datepicker1 class="form-control" placeholder="Please choose a date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="captainName">New Task</label>
                                        <div class="form-group">
                                            <div class="button-demo js-modal-buttons">
                                                <button type="button" class="btn bg-light-blue waves-effect" data-toggle="modal" data-target="#mdModal">+ Add New</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                DETAILS
                            </h2>
                        </div>
                        <div class="body">
                            <input id="txtUserId" style="display:none" value="@user.UserID"/>
                            <input id="txtUserType" style="display:none" value="@user.UserType" /> 
                            <input id="txtUserName" style="display:none" value="@user.UserName" /> 
                            <button type="button" class="btn bg-light-blue waves-effect pull-right" data-toggle="modal" @((user.UserID == 3 || user.UserID == 51) ? "data-target=#mdModal1" : "style=display:none")>+ Add New</button>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active in"><a href="#user_tasks" data-toggle="tab">Users</a></li>
                                    <li role="presentation"><a href="#group_tasks" data-toggle="tab">Groups</a></li>
                                    <li role="presentation" @((user.UserType == "ADMIN") ? string.Empty : "style=display:none")><a href="#all" data-toggle="tab">Completed</a></li>
                                    @*<li role="presentation"><a href="#my_tasks" data-toggle="tab" @((user.UserType != "ADMIN") ? string.Empty : "style=display:none")>My Tasks</a></li>
                                    <li role="presentation"><a href="#readonly_tasks" data-toggle="tab" @((user.UserType != "ADMIN") ? string.Empty : "style=display:none")>CC</a></li>*@
                                    @*<li role="presentation"><a href="#assigned_by_me" data-toggle="tab" @((user.UserType == "ADMIN" || user.UserType == "OPERATIONS-MANAGER" || user.UserType == "CRO") ? string.Empty : "style=display:none")>Assigned By Me</a></li>*@
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="user_tasks">
                                        <div class="table-responsive">
                                            <table id="usersTasksTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>Username</th>
                                                        <th>Active Tasks</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>Username</th>
                                                        <th>Active Tasks</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="group_tasks">
                                        <div class="table-responsive">
                                            <table id="groupsTasksTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>Groupname</th>
                                                        <th>Active Tasks</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>Groupname</th>
                                                        <th>Active Tasks</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="all">
                                        <div class="table-responsive">
                                            <table id="tasksTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="my_tasks">
                                        <div class="table-responsive">
                                            <table id="my_tasks_tbl" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="assigned_by_me">
                                        <div class="table-responsive">
                                            <table id="assigned_by_me_tbl" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="readonly_tasks">
                                        <div class="table-responsive">
                                            <table id="readonlyTasksTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>StartDate</th>
                                                        <th>Est.Date</th>
                                                        <th>TaskName</th>
                                                        <th>Owner</th>
                                                        <th>Assigned</th>
                                                        <th>Description</th>
                                                        <th>Updated</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="visibility: hidden">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>Sr#</th>
                                                <th>Task Name</th>
                                                <th>Details</th>
                                                <th>Date</th>
                                                <th>Assign to</th>
                                                <th>Status</th>
                                                <th>Colse Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Sr#</th>
                                                <th>Task Name</th>
                                                <th>Details</th>
                                                <th>Date</th>
                                                <th>Assign to</th>
                                                <th>Status</th>
                                                <th>Colse Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Wash Tanker</td>
                                                <td>Provide details</td>
                                                <td>23-7-2018</td>
                                                <td>Suleman</td>
                                                <td>Pending</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect" data-toggle="modal" data-target="#mdModal">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Check Oil</td>
                                                <td>details</td>
                                                <td>23-7-2018</td>
                                                <td>Sajid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Manage system</td>
                                                <td>manager</td>
                                                <td>23-7-2018</td>
                                                <td>Awais</td>
                                                <td>Cleared</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Answer calls</td>
                                                <td>online</td>
                                                <td>23-7-2018</td>
                                                <td>Azam</td>
                                                <td>Verified</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Wash Tanker</td>
                                                <td>Provide details</td>
                                                <td>23-7-2018</td>
                                                <td>Suleman</td>
                                                <td>Pending</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect" data-toggle="modal" data-target="#mdModal">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Check Oil</td>
                                                <td>details</td>
                                                <td>23-7-2018</td>
                                                <td>Sajid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Manage system</td>
                                                <td>manager</td>
                                                <td>23-7-2018</td>
                                                <td>Awais</td>
                                                <td>Cleared</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Answer calls</td>
                                                <td>online</td>
                                                <td>23-7-2018</td>
                                                <td>Azam</td>
                                                <td>Verified</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Do something</td>
                                                <td>Details here</td>
                                                <td>23-7-2018</td>
                                                <td>Majid</td>
                                                <td>Completed</td>
                                                <td>23-7-2018</td>
                                                <td><div><button type="button" class="btn bg-light-blue waves-effect">Edit</button></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Start-->
            <div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
                <div class="modal-dialog " role="document">
                    <div class="modal-content modal-col-light-blue">
                        <div class="modal-header">
                            <h3 class="modal-title" id="defaultModalLabel">TASK</h3>
                        </div>
                        <div class="modal-body">
                            <div id="alertdiv" class="row">
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row" id="divTaskOwner" style="display:none">
                                        <label for="assignto">Task Owner</label>
                                        <select id="sltTaskOwner" class="form-control show-tick"></select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="taskName">Task Name</label>
                                            <input type="text" id="txtTaskName" class="form-control" placeholder="">
                                            <input type="text" id="txtTaskId" class="form-control" placeholder="" style="display:none">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="dueDate">Start Date</label>
                                            <input type="date" id="txtStartDate" class="form-control datetimepicker" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="reference">Expected Date</label>
                                            <input type="date" id="txtExpectedDate" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="assignto">Assign To </label>
                                            <select id="sltAssignTo" class="form-control show-tick" >                           
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="priority">Task Type</label>
                                            <select id="sltTaskType" class="form-control show-tick">
                                                <option value="-1">Please select</option>
                                                <option value="2">Maintenance</option>
                                                <option value="1">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="status">Status</label>
                                            <select id="sltStatus" class="form-control show-tick">
                                                <option value="0">Please select</option>
                                                <option value="PENDING">Pending</option>
                                                @*<option value="APPROVED" @((user.UserType == "ACCOUNTS-MANAGER" || user.UserType == "ADMIN") ? string.Empty : "style=display:none")>Approved</option>*@
                                                <option value="COMPLETED">Completed</option>
                                                @*<option value="ON_APPROVAL">On Approval</option>*@
                                                <option value="IN_PROGRESS">In Progress</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <label for="desc">Description</label>
                                            <textarea rows="3" class="form-control no-resize" id="txtDescription" placeholder=""></textarea>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button id="modalBtn" type="button" class="btn btn-link waves-effect" onclick="modalBtnClick()" value="SAVE">SUBMIT</button>*@
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal End-->
            <div class="modal fade" id="mdModal1" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content modal-col-light-blue">
                        <div class="modal-header">
                            <h3 class="modal-title" id="defaultModalLabel">TASK</h3>
                        </div>
                        <div class="modal-body">
                            <div id="alertdiv" class="row">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Assign to</label>
                                        <select id="sltUsers" class="form-control">
                                            <option value="-1">Select user</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Group</label>
                                        <select id="sltGroups" class="form-control">
                                            <option value="-1">Select group</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="col-lg-2">
                                    <div class="form-group" style="margin-top: 27px;">
                                        <input type="checkbox" id="isGroupTask" class="form-control chk-col-light-green" />
                                        <label for="isGroupTask">isGroupTask</label>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <label>Task</label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Expected Complete</label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Remarks</label>
                                </div>
                            </div>
                            <div id="allTasks">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input id="taskName_1" class="form-control" type="text" />
                                    </div>
                                    <div class="col-lg-3">
                                        <input id="taskDate_1" class="form-control" type="date" />
                                    </div>
                                    <div class="col-lg-3">
                                        <input id="details_1" class="form-control" type="text" />
                                    </div>
                                    <div class="col-lg-1">
                                        <button class="btn btn-default" onclick="addNewTaskRow()">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="modalBtn" type="button" class="btn btn-link waves-effect" onclick="submitTasks()" value="SAVE">SUBMIT</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Start-->
            <div class="modal fade" id="mdTasksModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label id="modalVNO">TASK</label>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div id="msgDiv" class="col-sm-12">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Date</th>
                                                <th>TaskName</th>
                                                @*<th>Description</th>*@
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="UPTTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="modalBtn" type="button" class="btn btn-link waves-effect" onclick="submitUpdate()">SUBMIT</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal End-->
            <div class="modal fade" id="mdGroupTasksModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label id="modalVNO">TASK</label>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div id="msgDiv" class="col-sm-12">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Date</th>
                                                <th>Task</th>
                                                @*<th>Description</th>*@
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="UPTTable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="modalBtn" type="button" class="btn btn-link waves-effect" onclick="submitUpdate()">SUBMIT</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Jquery Core Js -->

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/Content/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/plugins/node-waves/waves.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/task.js"></script>
    <!-- Demo Js -->
    <script src="~/Scripts/js/admin.js"></script>
    <script src="~/Scripts/js/demo.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/Content/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    

</body>
</html>
